.footer{
    position: fixed;
    bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width:100%;
    background-color:rgb(168, 202, 218);
    padding:10px;
  
}
.item{
    margin:50px;
}